.featured-projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2em;
}

.projects-and-work-container {
  padding: 20px 0 80px 0;
}

.project-list-container {
  display: flex;
  flex-wrap: wrap;
}

.secondary-projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px auto 0 auto;
  width: 80%;
  justify-content: space-evenly;
}

@media screen and (max-width: 750px) {
  .secondary-projects-container {
    width: 90%;
  }
}