.card {
  --width: 14em;
  width: var(--width);
  height: calc(var(--width) * 3 / 2);
  background: white;
  border-radius: 10px;
  font-family: 'Futura', sans-serif;
  color: black;
  padding: 1.5em 1em;
  position: relative;
  box-shadow: 5px 5px 20px 0px #131111;
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (max-width: 960px) {
  .card {
    margin-bottom: 3em;
  }
}

@media screen and (max-width: 620px) {
  .card {
    margin-bottom: 2em;
  }
}

.card h1 {
  text-decoration: underline;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
  z-index: 1;
}

.card p {
  margin-top: 0;
  margin-right: 20px;
  position: relative;
  z-index: 1;
}

.card .tech-stack {
  position: absolute;
  bottom: 1em;
}

.card .bulb-container .github-link,
.card .bulb-container .project-link{
  position: relative;
  transition: 3s;
}

.card .bulb-container .github-link:hover,
.card .bulb-container .project-link:hover {
  top: 0.25em;
  transition: 3s;
}

@media screen and (max-width: 650px) {
  .card {
    margin-left: auto;
    margin-right: auto;
  }
}