@keyframes  slideUpFromBottom {
  0% {
    transform: translateY(25%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

body {
  background: linear-gradient(-2deg, #3A2067 0%, rgba(154,155,157,0.87) 53%, #0B1983 100%, #0B1882 100%);
  color: white;
  margin: 0 auto;
  font-family: 'Futura', 'Poppins', sans-serif;
}

.header ~ * {
  animation: 1s ease-out 0s 1 slideUpFromBottom;
}

.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}