body {
  background: linear-gradient(-2deg, #3A2067 0%, rgba(154,155,157,0.87) 53%, #0B1983 100%, #0B1882 100%);
  border: 1px solid #979797;
  border: 1px solid #979797;
  color: white;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}