.section-title {
  margin-top: -60px;
}

.section-title .bar {
  border: 0;
  height: 5px;
  width: 82vw;
  position: relative;
  z-index: -1;
  top: 50px;
}

@media screen and (max-width: 750px) {
  .section-title .bar {
    margin-right: 5%;
    margin-left: 5%;
  }
}

.section-title .title {
  margin-bottom: 0;
  margin-left: 10%;
  font-family: Montserrat;
}

@media screen and (max-width: 750px) {
  .section-title .title {
    margin-right: 5%;
    margin-left: 5%;
  }
}